.blog__inner {
  padding: 112px 0px;
  text-align: center;
}

.blog__box {
  display: flex;
  margin: 0px -12px;
}

.blog__box-column{
  flex: 0 1 33.333%;
  padding: 0px 12px;
  display: flex;
}


.blog__item {
  display: flex;
  flex-direction: column;
}

.blog__images {
  display: block;
  img {
    width: 100%;
    height: 245px;
    object-fit: cover;
    display: block;
  }
}

.blog__content {
  border: 1px solid #d1d3d1;
  padding: 28px 21px 30px 21px;
  text-align: left;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.blog__item-title {
  color: #454444;
  font-family: "Roboto Slab";
  font-size: 21px;
  line-height: 28px;
  min-height: 73px;
}

.blog__item-info {
  color: #aeadad;
  font-family: "Roboto Slab";
  font-size: 13px;
  display: flex;
  padding-bottom: 15px;
}

.blog__item-data {
  padding-left: 15px;
  position: relative;
  padding-right: 8px;
  border-right: 1px solid #d1d3d1;
  &::before {
    content: "\f017";
    font-family: "icomoon";
    position: absolute;
    left: 0;
  }
}

.blog__item-autor {
  padding-left: 24px;
  position: relative;
  &::before {
    content: "\f007";
    font-family: "icomoon";
    position: absolute;
    left: 7px;
  }
}

.blog__item-comment {
  margin-left: auto;
  position: relative;
  color: #aeadad;
  font-family: "Roboto Slab";
  font-size: 13px;
  &::before {
    content: "\f0e6";
    font-family: "icomoon";
    position: absolute;
    left: -18px;
    top: -1px;
  }
}

.blog__item-text {
  color: #646464;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  flex: 1 1 auto;
}

.blog__item-link {
  padding-top: 20px;
  color: #545353;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s;
  &:hover {
    color: $basic-green;
  }
}

@media (max-width: 1240px) {

  

  .blog__images {
    img {
      width: 100%;
      height: 210px;
      object-fit: cover;
      display: block;
    }
  }
  .blog__content {
    padding: 23px 21px 30px;
  }
  .blog__item-title {
    font-size: 18px;
    line-height: 25px;
    min-height: 58px;
  }

  .blog__item-info {
    flex-direction: column;
    padding-bottom: 0px;
  }

  .blog__item-data {
    border: none;
    margin-bottom: 5px;
  }
  .blog__item-autor {
    padding-left: 15px;
    &::before {
      left: 0;
    }
  }

  .blog__item-text {
    font-size: 13px;
    line-height: 20px;
  }

  .blog__item-comment {
    top: -9px;
  }
}

@media (max-width: 1020px) {
  .blog__inner {
    padding: 53px 0;
  }

  .blog__title {
    font-size: 28px;
    margin-bottom: 21px;
  }

  .blog__box {
    flex-direction: column;
  }

.blog__box-column{
  flex: 0 1 100%;
}


  .blog__item {
    margin-bottom: 30px;
    flex-direction: row;
  }

  .blog__box-column:nth-child(2) .blog__item{
    flex-direction: row-reverse;
  }

  .blog__item-title {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
    min-height: fit-content;
  }

  .blog__images {
    width: 50%;
    height: 100%;
    img {
      height: 260px;
      object-fit: cover;
      display: block;
    }
  }

  .blog__content {
    width: 50%;
    height: 260px;
  }

  .blog__item-comment {
    top: -11px;
    left: -16px;
  }

  .blog__item-text {
    height: 85px;
    line-height: 22px;
  }
  .blog__item-link {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .blog__box-column {
    justify-content: center;
  }

  .blog__box {
    align-items: center;
  }

  .blog__item {
    flex-direction: column;
    width: 90%;
    max-height: fit-content;
  }
  .blog__images {
    width: 100%;

    img {
      height: 260px;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }

  .blog__content {
    width: 100%;
    height: fit-content;
  }

  .blog__box-column:nth-child(2) .blog__item{
    flex-direction: column;
  }
  .blog__item-text {
    margin-bottom: 15px;
    height: fit-content;
  }
}

@media (max-width: 380px) {
  .blog__inner {
    padding: 26px 0;
  }
  .blog__images img {
    height: 193px;
  }

  .blog__item-title {
    font-size: 16px;
    line-height: 22px;
  }

  .blog__item-info {
    font-size: 12px;
  }
  .blog__item-comment {
    top: -15px;
  }
}
