.main-form {
    background-color: #eeeeee;
  }
  
  .main-form__inner {
    padding: 114px 0px 105px;
    text-align: center;
  }
  
  .main-form__title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #222;
    margin-bottom: 30px;
  }
  
  .main-form__text {
    max-width: 70%;
    margin: 0 auto 35px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #646464;
  }
  
  .main-form__row {
    display: flex;
    margin: 0 -25px;
  }
  
  .main-form__column {
    padding: 0 25px;
    text-align: left;
    flex: 0 1 50%;
  }
  
  .contacts__title,
  .form__title {
    text-transform: uppercase;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #222;
    margin-bottom: 25px;
  }
  
  .contacts {
    display: flex;
    flex-direction: column;
  }
  
  .contacts__box {
    flex: 1 1 auto;
  }
  
  .contacts__adress,
  .contacts__phone,
  .contacts__mail {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    color: #646464;
    display: block;
    margin-bottom: 10px;
    font-style: normal;
    padding-left: 19px;
    position: relative;
  }
  
  .contacts__phone.icon-phone::before,
  .icon-map-marker::before,
  .icon-envelope::before {
    left: 0px;
    top: 2px;
    position: absolute;
  }
  
  .icon-envelope::before {
    left: -2px;
  }
  
  .map {
    margin-top: 27px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .map-yandex {
    width: 100%;
    height: 100%;
  }
  
  .form input,
  .form textarea {
    background-color: #d4d4d4;
    color: #696969;
    padding: 17px 14px;
    font-style: italic;
    font-family: "OpenSans";
    font-size: 12px;
    border: 1px solid #cacaca;
    border-radius: 2px;
    margin-bottom: 16px;
  }
  
  .form input::placeholder,
  .form textarea::placeholder {
    font-family: "OpenSans";
  }
  
  .input-name,
  .input-mail {
    flex: 0 1 48.5%;
  }
  
  .input-phone,
  .textarea {
    flex: 0 1 100%;
  }
  
  .form-btn {
    border: none;
    font-size: 16px;
    line-height: 40px;
    padding: 0px 24px;
    border-radius: 2px;
    font-family: OpenSans, sans-serif;
  }
  
  @media (max-width: 910px) {
    .main-form__inner {
      padding: 69px 0 69px;
    }
  
    .main-form__title {
      font-size: 27px;
      margin-bottom: 12px;
    }
  
    .contacts__title,
    .form__title {
      font-size: 17px;
    }
  
    .form input,
    .form textarea {
      padding: 11px 14px;
    }
  
    .form-btn {
      font-size: 14px;
      line-height: 35px;
    }
  }
  
  @media (max-width: 724px) {
    .main-form__inner {
      padding: 51px 0 69px;
    }
  
    .main-form__title {
      font-size: 23px;
      margin-bottom: 8px;
    }
  
    .main-form__text {
      font-size: 12px;
    }
  
    .main-form__row {
      flex-direction: column;
    }
  
    .map {
      display: none;
    }
    .contacts__title,
    .form__title {
      font-size: 15px;
      margin-bottom: 13px;
    }
    .contacts__box {
      margin-bottom: 10px;
    }
  
    .textarea {
      height: 200px;
      line-height: 20px;
    }
    .main-form__text {
      max-width: 100%;
    }
  }
  