.header__top {
  background-color: #fbfbfb;
  border-bottom: 1px solid #f2f2f2;
}

.header__top-inner {
  padding: 17px 10px 16px;
  display: flex;
  justify-content: space-between;
}

.header__top-contacts {
  display: flex;
}

.header__top-adress,
.header__top-phone {
  font-size: 14px;
  font-weight: 400;
  color: #646464;
  padding-left: 21px;
  padding-right: 14px;
  position: relative;
  border-right: 1px solid #f2f2f2;
}

.header__top-adress.icon-home::before,
.header__top-phone.icon-phone::before {
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 1px;
}

.header__top-phone {
  padding-left: 31px;
  border-right: none;
  padding-top: 1px;
}

.header__top-phone.icon-phone::before {
  left: 12px;
  top: 2px;
}

.header__top-social-link {
  color: #646464;
  font-size: 13px;
  margin-left: 15px;
  transition: all 0.3s;
  &:hover {
    color: $basic-green;
  }
}

.header__main-inner {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img {
  width: 100px;
}

.header__menu-list {
  display: flex;
  margin-right: 8px;
}

.header__menu-link {
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s;
  &::after {
    content: "";
    transition: all 0.3s;
    position: absolute;
    top: 55px;
    left: -17px;
    width: calc(100% + 31px);
    height: 5px;
    background-color: transparent;
  }
}

.header__menu-item {
  position: relative;
  margin-left: 38px;
  position: relative;
  &:hover {
    .header__menu-link {
      color: $basic-green;
    }
    .header__menu-link::after {
      background-color: $basic-green;
    }
  }
}

//==============Адаптив=============//

//================1018px==============//

@media (max-width: 1018px) {
  .header__menu-link {
    font-size: 12px;
  }

  .header__menu-item {
    margin-left: 30px;
  }

  .header__menu-link::after {
    height: 3px;
    top: 57px;
  }
}

//================860px==============//

@media (max-width: 860px) {
  .header__logo-img {
    width: 76px;
  }

  .header__main-inner {
    min-height: 76px;
  }

  .header__menu-list {
    z-index: 10;
    display: none;
    position: absolute;
    text-align: center;
    right: 11px;
    top: 128px;
    width: 33%;
    margin: 0;
    padding-top: 11px;
    background-color: #fff;
    box-shadow: 8px 13px 5px 1px #6f7266;
    &--closed {
      display: none;
    }
  }

  .header__menu-item {
    margin-left: 0;
    margin-bottom: 13px;
    &:hover {
      .header__menu-link {
        transform: scale(1.1);
        text-decoration: underline;
      }
    }
  }
  .header__menu-link {
    font-size: 14px;
  }
  .header__menu-link::after {
    height: 0;
  }

  .header__burger {
    width: 24px;
    height: 23px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__burger-span {
    position: relative;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    top: 0px;
    left: 0px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 1.5px;
      background-color: #000000;
      left: 0;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    &::after {
      top: -8px;
    }

    &::before {
      top: 8px;
    }
  }

  .header__burger--active {
    .header__burger-span {
      background: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }
    }
  }
}

//================736px==============//

@media (max-width: 736px) {
  .header__menu-list {
    width: 50%;
  }
}

//================550px==============//

@media (max-width: 550px) {
  .header__top-adress {
    display: none;
  }
  .header__top-adress.icon-home::before {
    display: none;
  }

  .header__top-phone {
    padding-left: 22px;
  }
  .header__top-phone.icon-phone::before {
    left: 2px;
  }
  .header__menu-list {
    width: 100%;
    right: 0;
  }
}

//================min861px==============//

@media (min-width: 861px) {
  .header__menu-list {
    display: flex !important;
  }
}
