.testimonials {
  background-color: #101410;
}

.testimonials__inner {
  text-align: center;
  color: #fff;
  padding: 100px 0px 110px;
}

.testimonials__title {
  color: #fff;
}

.testimonials__text {
  margin-bottom: 50px;
}

.testimonials__item {
  width: 571px;
  position: relative;
  padding-top: 70px;
}

.testimonials__item-text {
  height: 180px;
  color: #646464;
  font-family: "OpenSans";
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  background-color: #fff;
  padding: 64px 20px 20px 64px;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  margin-right: 14px;
  margin-left: 14px;
  &::before {
    content: "\f10d";
    font-family: "icomoon";
    color: #222222;
    font-size: 24px;
    position: absolute;
    left: 20px;
    top: 55px;
  }
}

.testimonials__item-img {
  width: 107px;
  height: 107px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.testimonials__item-bottom {
  font-family: "Roboto";
  font-size: 15px;
}

.testimonials__item-prof {
  color: $basic-green;
  margin-top: 3px;
}

.testimonials .slick-dots {
  top: 110%;
}

@media (max-width: 1150px) {
  .testimonials__item-text {
    line-height: 23px;
  }
}

@media (max-width: 904px) {
  .testimonials__item-text {
    height: 217px;
  }
  .testimonials__inner {
    padding: 53px 0 82px;
  }
}

@media (max-width: 724px) {
  .testimonials__item-text {
    height: fit-content;
    min-height: 150px;
    padding: 50px 20px 30px 64px;
  }
  .testimonials__item-img {
    width: 87px;
    height: 87px;
  }

  .testimonials__inner {
    padding-top: 43px;
  }
}

@media (max-width: 383px) {
  .testimonials .slick-dots {
    top: 103%;
  }
  .testimonials__inner {
    padding-bottom: 58px;
  }
}
