.works__inner {
    padding: 114px 0px;
    text-align: center;
  }
  
  
  
  .works__text {
    max-width: 70%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 35px;
  }
  
  .works__btn-box {
    margin-bottom: 40px;
  }
  
  .works__btn {
    transition: all, 0.5s;
    color: #726e6e;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 500;
    border: 1px solid #e9e9e9;
    background-color: #f6f6f6;
    border-radius: 2px;
    padding: 12px 24px;
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
      outline: none;
    }
    & + .works__btn {
      margin-left: 10px;
    }
  }
  
  .mixitup-control-active {
    background-color: $basic-green;
    color: #fff;
    border: 1px solid $basic-green;
  }
  
  .works__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .works__item-link {
    display: inline;
  }
  
  .works__item {
    float: left;
  }
  
  .works__item-horisoltal {
    width: 580px;
    height: 285px;
  }
  
  .works__item-squery {
    width: 285px;
    height: 285px;
  }
  
  .works__item-vertical {
    width: 285px;
  }
  
  .works__item-box {
    display: grid;
    justify-content: center;
    gap: 5px;
    grid-template-columns: repeat(4, 258px);
    grid-template-rows: repeat(2, 258px);
  }
  
  .works__item-1 {
    grid-column: span 2;
  }
  
  .works__item-5 {
    grid-column: span 2;
  }
  
  .works__item-3 {
    grid-row: span 2;
  }
  
  .works__item {
    background-color: #151512;
    position: relative;
  }
  
  .works__item-text {
    text-transform: uppercase;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0.8;
    display: none;
  }
  
  .works__item:hover {
    background-color: #151512;
    .works__item-img {
      opacity: 0.2;
      transition: all, 0.5s;
    }
    .works__item-text {
      display: block;
    }
  }
  
  @media (max-width: 1080px) {
    .works__item-box {
      grid-template-columns: repeat(4, 200px);
      grid-template-rows: repeat(2, 200px);
    }
  }
  
  @media (max-width: 840px) {
    .works__inner {
      padding: 50px 0;
    }
   
  
    .works__item-box {
      grid-template-columns: repeat(4, 180px);
      grid-template-rows: repeat(2, 180px);
    }
  
    .works__btn {
      padding: 12px 20px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 760px) {
    .works__text {
      max-width: 80%;
      margin-bottom: 20px;
    }
  
    .works__btn-box {
      margin-bottom: 20px;
    }
    .works__btn {
      padding: 10px 15px;
      font-size: 10px;
    }
  
    .works__item-box {
      grid-template-columns: repeat(3, 180px);
      grid-template-rows: repeat(2, 180px);
    }
  
    .works__item-5 {
      grid-column: span 1;
    }
  
    .works__item-3 {
      grid-row: span 1;
    }
  }
  
  @media (max-width: 590px) {
    .works__inner {
      padding: 30px 0;
    }
   
  
    .works__text {
      max-width: 100%;
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
    .works__btn-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px;
    }
    .works__btn {
      margin-bottom: 10px;
      padding: 5px 10px;
      font-size: 9px;
    }
    .works__item-box {
      grid-template-columns: repeat(3, 130px);
      grid-template-rows: repeat(2, 130px);
    }
    .works__item-text {
      font-size: 10px;
    }
  }
  
  @media (max-width: 423px) {
    .works__inner {
      padding: 20px 0;
    }
       .works__btn {
      margin-bottom: 10px;
      padding: 5px 10px;
      font-size: 9px;
    }
    .works__item-box {
      grid-template-columns: repeat(3, 100px);
      grid-template-rows: repeat(2, 100px);
    }
  }
  